@page "/fetchdata"
@using DiplomaProject.WebApp.Data
@inject WeatherForecastService ForecastService

<h1>Погода</h1>

<p>This component demonstrates fetching data from a service.</p>

@if(_forecasts == null)
{
    <p>
        <em>Загрузка...</em>
    </p>
}
else
{
    <MatTable Items="@_forecasts" class="mat-elevation-z5" ShowFooter="false" ShowPaging="false">
        <MatTableHeader>
            <th>Дата</th>
            <th>Температура (C)</th>
            <th>Температура (F)</th>
            <th>Описание</th>
        </MatTableHeader>
        <MatTableRow>
            <td>@context.Date.ToShortDateString()</td>
            <td>@context.TemperatureC</td>
            <td>@context.TemperatureF</td>
            <td>@context.Summary</td>
        </MatTableRow>
    </MatTable>
}

@code {
    private WeatherForecast[] _forecasts;

    protected override async Task OnInitializedAsync()
    {
        _forecasts = await ForecastService.GetForecastAsync(DateTime.Now);
    }

}