@page "/admin/employees/index"
@using DiplomaProject.Domain.DTOs
@using DiplomaProject.Domain
@using DiplomaProject.Application.Employees.Queries
@using DiplomaProject.Application.Employees.Commands
@inject IMediator Mediator
@inject IMatToaster Toaster
@attribute [Authorize(Policy = nameof(RoleNames.Administrator))]

<MatH5>Список сотрудников</MatH5>

<MatTable Items="@_employees" Striped="true" ShowFooter="false" ShowPaging="false">
    <MatTableHeader>
        <th>ФИО</th>
        <th>Пол</th>
        <th>Дата рождения</th>
        <th>Дата трудоустройства</th>
        <th>Стаж</th>
        <th>Должность</th>
        <th colspan="3"></th>
    </MatTableHeader>
    <MatTableRow>
        <td>@context.Fio</td>
        <td>@context.Sex</td>
        <td>@context.BirthDay.LocalDateTime.ToString(DateTimeFormats.DefaultDateFormat)</td>
        <td>@context.EmploymentDate.LocalDateTime.ToString(DateTimeFormats.DefaultDateFormat)</td>
        <td>@((DateTime.Today - context.EmploymentDate.LocalDateTime).Days / 365) лет</td>
        <td>@context.Role</td>
        <td>
            <MatButton Outlined="true" OnClick="() => OpenEditRoleDialog(context)">Изменить роль</MatButton>
        </td>
        <td>
            <MatButton Outlined="true" OnClick="() => OpenEditDialog(context)">Изменить данные</MatButton>
        </td>
        <td>
            <MatButton Class="button-danger" Unelevated="true" OnClick="() => OpenDeleteDialog(context)">Удалить пользователя</MatButton>
        </td>
    </MatTableRow>
</MatTable>

<MatDialog @bind-IsOpen="@IsDeleteDialogOpened">
    <MatDialogTitle>Удаление сотрудника</MatDialogTitle>
    <MatDialogContent>
        <MatBody1>Вы действительно хотите удалить данного сотрудинка?</MatBody1>
        <MatBody2>ФИО: @SelectedEmployee?.Fio</MatBody2>
        <MatBody2>Должность: @SelectedEmployee?.Role</MatBody2>
        <MatBody1 Class="text-danger">
            ВНИМАНИЕ! Данное действие приведёт к удалению всех связанных с сотрудником данных!
        </MatBody1>
    </MatDialogContent>
    <MatDialogActions>
        <MatButton OnClick="() => IsDeleteDialogOpened = false">Нет</MatButton>
        <MatButton Class="button-danger" Unelevated="true" OnClick="Delete">Да, удалить</MatButton>
    </MatDialogActions>
</MatDialog>

<MatDialog @bind-IsOpen="@IsEditRoleDialogOpened">
    <MatDialogTitle>Добавление роли</MatDialogTitle>
    <MatDialogContent>
        <MatBody1>ФИО: @SelectedEmployee?.Fio</MatBody1>
        <MatBody2>Должность: @SelectedEmployee?.Role</MatBody2>
        <MatSelect Label="Выберите новую должность" @bind-Value="RoleName">
            <MatOptionString Disabled="true"></MatOptionString>
            <MatOptionString Value="@RoleNames.JuniorEmployee">@RoleNames.JuniorEmployee</MatOptionString>
            <MatOptionString Value="@RoleNames.SeniorEmployee">@RoleNames.SeniorEmployee</MatOptionString>
            <MatOptionString Value="@RoleNames.Administrator">@RoleNames.Administrator</MatOptionString>
        </MatSelect>
    </MatDialogContent>
    <MatDialogActions>
        <MatButton OnClick="() => IsEditRoleDialogOpened = false">Отмена</MatButton>
        <MatButton Class="button-danger" Unelevated="true" OnClick="EditRole">Изменить</MatButton>
    </MatDialogActions>
</MatDialog>

<MatDialog @bind-IsOpen="@IsEditDialogOpened">
    <MatDialogTitle>Изменение информации</MatDialogTitle>
    <MatDialogContent>
        <p>
            <MatStringField Required @bind-Value="@FirstName" Label="Имя"/>
        </p>
        <p>
            <MatStringField Required @bind-Value="@LastName" Label="Фамилия"/>
        </p>
        <p>
            <MatStringField Required @bind-Value="@MidName" Label="Отчество"/>
        </p>
        <p>
            <MatDatePicker @bind-Value="@BirthDay" Label="Дата рождения"/>
        </p>
        <p>
            <MatDatePicker @bind-Value="@EmploymentDate" Label="Дата приёма на работу"/>
        </p>
    </MatDialogContent>
    <MatDialogActions>
        <MatButton OnClick="() => IsEditDialogOpened = false">Нет</MatButton>
        <MatButton Unelevated="true" OnClick="Edit">Изменить</MatButton>
    </MatDialogActions>
</MatDialog>

@code {

    private EmployeeDto[] _employees;

    public bool IsDeleteDialogOpened { get; set; }
    public EmployeeDto SelectedEmployee { get; set; }

    public bool IsEditRoleDialogOpened { get; set; }
    public string RoleName { get; set; }

    public bool IsEditDialogOpened { get; set; }
    public string FirstName { get; set; }
    public string LastName { get; set; }
    public string MidName { get; set; }
    public DateTime BirthDay { get; set; } = DateTime.Today;
    public DateTime EmploymentDate { get; set; } = DateTime.Today;

    protected override async Task OnInitializedAsync()
    {
        _employees = await Mediator.Send(new GetAllEmployeesQuery());
    }

    private void OpenEditDialog(EmployeeDto item)
    {
        FirstName = item.FirstName;
        LastName = item.LastName;
        MidName = item.MidName;
        BirthDay = item.BirthDay.DateTime;
        EmploymentDate = item.EmploymentDate.DateTime;
        SelectedEmployee = item;
        IsEditDialogOpened = true;
    }

    private async Task Edit()
    {
        try
        {
            await Mediator.Send(new UpdateEmployeeCommand
            {
                Id = SelectedEmployee.Id,
                FirstName = FirstName,
                LastName = LastName,
                MidName = MidName,
                BirthDay = new DateTimeOffset(BirthDay),
                EmploymentDate = new DateTimeOffset(EmploymentDate)
            });
            Toaster.Add("Информация обновлена", MatToastType.Success, "Изменение данных");
            _employees = await Mediator.Send(new GetAllEmployeesQuery());

            IsEditDialogOpened = false;
            SelectedEmployee = null;
            RoleName = string.Empty;
            BirthDay = DateTime.Today;
            EmploymentDate = DateTime.Today;
        }
        catch(Exception e)
        {
            Toaster.Add(e.Message, MatToastType.Danger, "Изменение данных");
        }
        IsEditRoleDialogOpened = false;
    }

    private void OpenEditRoleDialog(EmployeeDto item)
    {
        SelectedEmployee = item;
        IsEditRoleDialogOpened = true;
    }

    private async Task EditRole()
    {
        try
        {
            await Mediator.Send(new AddEmployeeToRoleCommand
            {
                EmployeeId = SelectedEmployee.Id,
                RoleName = RoleName
            });
            Toaster.Add("Роль успешно изменена", MatToastType.Success, "Изменение роли");
            _employees = await Mediator.Send(new GetAllEmployeesQuery());
            SelectedEmployee = null;
            RoleName = string.Empty;
        }
        catch(Exception e)
        {
            Toaster.Add(e.Message, MatToastType.Danger, "Изменение роли");
        }
        IsEditRoleDialogOpened = false;
    }

    private void OpenDeleteDialog(EmployeeDto item)
    {
        SelectedEmployee = item;
        IsDeleteDialogOpened = true;
    }

    private async Task Delete()
    {
        try
        {
            await Mediator.Send(new DeleteEmployeeCommand
            {
                EmployeeId = SelectedEmployee.Id
            });
            Toaster.Add("Сотрудник успешно удалён", MatToastType.Success, "Удаление");
            _employees = await Mediator.Send(new GetAllEmployeesQuery());
            SelectedEmployee = null;
        }
        catch(Exception e)
        {
            Toaster.Add(e.Message, MatToastType.Danger, "Удаление");
        }
        IsDeleteDialogOpened = false;
    }

}