@page "/help/seaweedCategories/index"
@using DiplomaProject.Application.SeaweedCategories.Command
@using DiplomaProject.Application.SeaweedCategories.Queries
@using DiplomaProject.Domain
@inject IMediator Mediator
@inject IMatToaster Toaster
@attribute [Authorize]

<MatH5>Категории водорослей</MatH5>

<AuthorizeView Policy="@nameof(RoleNames.SeniorEmployee)">
    <MatButton Raised OnClick="() => IsCreateDialogOpened = true">Добавить категорию</MatButton>
</AuthorizeView>


@if(_seaweedCategories == null)
{
    <MatProgressBar Indeterminate="true"/>
}
else
{
    <MatTable Items="@_seaweedCategories" class="mat-elevation-z5" ShowFooter="false" ShowPaging="false" PageSize="@int.MaxValue">
        <MatTableHeader>
            <th>#</th>
            <th>Название</th>
            <th></th>
        </MatTableHeader>
        <MatTableRow>
            <td>@context.Id</td>
            <td>@context.Title</td>
            <td>
                <AuthorizeView Policy="@nameof(RoleNames.SeniorEmployee)" Context="Auth">
                    <MatButton Class="button-danger" Unelevated="true" OnClick="() => OpenDeleteDialog(context)">Удалить</MatButton>
                </AuthorizeView>
            </td>
        </MatTableRow>
    </MatTable>
}


<MatDialog @bind-IsOpen="@IsDeleteDialogOpened">
    <MatDialogTitle>Удаление категории</MatDialogTitle>
    <MatDialogContent>
        <MatBody1>Вы действительно хотите удалить категорию?</MatBody1>
        <MatBody2>Название: @SelectedItem?.Title</MatBody2>
        <MatBody1 Class="text-danger">
            ВНИМАНИЕ! Данное действие приведёт к удалению всех связанных с этой категорией данных!
        </MatBody1>
    </MatDialogContent>
    <MatDialogActions>
        <MatButton OnClick="() => IsDeleteDialogOpened = false">Нет</MatButton>
        <MatButton Class="button-danger" Unelevated="true" OnClick="Delete">Да, удалить</MatButton>
    </MatDialogActions>
</MatDialog>

<MatDialog @bind-IsOpen="@IsCreateDialogOpened">
    <MatDialogTitle>Добавление категории</MatDialogTitle>
    <MatDialogContent>
        <p>
            <MatTextField @bind-Value="@Command.Title" Label="Название"/>
        </p>
    </MatDialogContent>
    <MatDialogActions>
        <MatButton OnClick="() => IsCreateDialogOpened = false">Отменить</MatButton>
        <MatButton Unelevated="true" OnClick="Create">Добавить</MatButton>
    </MatDialogActions>
</MatDialog>

@code {
    private SeaweedCategory[] _seaweedCategories;

    public bool IsDeleteDialogOpened { get; set; }
    public SeaweedCategory SelectedItem { get; set; }

    public bool IsCreateDialogOpened { get; set; }
    public CreateSeaweedCategoryCommand Command { get; set; } = new CreateSeaweedCategoryCommand();

    protected override async Task OnInitializedAsync()
    {
        _seaweedCategories = await Mediator.Send(new GetAllSeaweedCategoriesQuery());
    }

    public void OpenDeleteDialog(SeaweedCategory item)
    {
        IsDeleteDialogOpened = true;
        SelectedItem = item;
    }

    public async Task Delete()
    {
        const string message = "Категория успешно удалена!";
        const string title = "Удаление";

        try
        {
            await Mediator.Send(new DeleteSeaweedCategoryCommand
            {
                Id = SelectedItem.Id
            });
            Toaster.Add(message, MatToastType.Success, title);
            _seaweedCategories = await Mediator.Send(new GetAllSeaweedCategoriesQuery());

            IsDeleteDialogOpened = false;
            SelectedItem = null;
        }
        catch(Exception e)
        {
            Toaster.Add(e.Message, MatToastType.Danger, title);
        }
    }

    public async Task Create()
    {
        try
        {
            await Mediator.Send(Command);
            Toaster.Add("Категория успешно добавлена!", MatToastType.Success, "Добавление");
            _seaweedCategories = await Mediator.Send(new GetAllSeaweedCategoriesQuery());
            IsCreateDialogOpened = false;

            Command = new CreateSeaweedCategoryCommand();
        }
        catch(Exception e)
        {
            Toaster.Add(e.Message, MatToastType.Danger, "Ошибка");
        }
    }

}