@page "/employees/index"
@using DiplomaProject.Domain.DTOs
@using DiplomaProject.Application.Employees.Queries
@inject IMediator Mediator
@attribute [Authorize]

<MatH5>Список сотрудников</MatH5>

<MatTable Items="@_employees" Striped="true" ShowFooter="false" ShowPaging="false">
    <MatTableHeader>
        <th>ФИО</th>
        <th>Пол</th>
        <th>Дата рождения</th>
        <th>Дата трудоустройства</th>
        <th>Стаж</th>
        <th>Должность</th>
    </MatTableHeader>
    <MatTableRow>
        <td>@context.Fio</td>
        <td>@context.Sex</td>
        <td>@context.BirthDay.LocalDateTime.ToString(DateTimeFormats.DefaultDateFormat)</td>
        <td>@context.EmploymentDate.LocalDateTime.ToString(DateTimeFormats.DefaultDateFormat)</td>
        <td>@((DateTime.Today - context.EmploymentDate.LocalDateTime).Days / 365) лет</td>
        <td>@context.Role</td>
    </MatTableRow>
</MatTable>

@code {

    private EmployeeDto[] _employees;

    protected override async Task OnInitializedAsync()
    {
        _employees = await Mediator.Send(new GetAllEmployeesQuery());
    }

}