<AuthorizeView>
    <Authorized>
        <form method="post" action="api/Security/Logout">
            <MatButton Unelevated type="submit" Icon="@MatIconNames.Account_circle">Выход</MatButton>
        </form>
    </Authorized>
    <NotAuthorized>
        <MatButton Unelevated Icon="@MatIconNames.Account_circle" OnClick="OnLoginClick">Вход</MatButton>
        <LoginDialogComponent IsOpen="@IsLoginDialogOpened"/>
        <MatButton Unelevated Icon="@MatIconNames.Account_circle" OnClick="OnRegisterClick">Регистрация</MatButton>
        <RegisterDialogComponent IsOpen="@IsRegisterDialogOpened"/>
    </NotAuthorized>
</AuthorizeView>

@code {
    public bool IsLoginDialogOpened { get; set; }
    public bool IsRegisterDialogOpened { get; set; }

    public void OnLoginClick()
    {
        IsLoginDialogOpened = !IsLoginDialogOpened;
    }

    public void OnRegisterClick()
    {
        IsRegisterDialogOpened = !IsRegisterDialogOpened;
    }

}