@page "/sectors/index"
@using DiplomaProject.Application.Sectors.Commands
@using DiplomaProject.Application.Sectors.Queries
@using DiplomaProject.Domain
@inject IMediator Mediator
@inject IMatToaster Toaster
@attribute [Authorize]

<MatH5>Секторы</MatH5>

<AuthorizeView Policy="@nameof(RoleNames.SeniorEmployee)">
    <MatButton Raised OnClick="() => IsCreateDialogOpened = true">Добавить сектор</MatButton>
</AuthorizeView>


@if(_sectors == null)
{
    <MatProgressBar Indeterminate="true"/>
}
else if(_sectors.Length == 0)
{
    <MatH3>Список пуст.</MatH3>
}
else
{
    <MatTable Items="@_sectors" class="mat-elevation-z5" PageRecordCountLabel="Кол-во секторов на страницу" Striped="true" PageSize="@int.MaxValue">
        <MatTableHeader>
            <th>Id</th>
            <th>Название</th>
            <th>Описание</th>
            <th colspan="2">Действия</th>
        </MatTableHeader>
        <MatTableRow>
            <td>@context.Id</td>
            <td>@context.Title</td>
            <td>@context.Description</td>
            <AuthorizeView Policy="@nameof(RoleNames.SeniorEmployee)" Context="Auth">
                <td>
                    <MatButton Unelevated="true" OnClick="() => OpenEditDialog(context)">Изменить сектор</MatButton>
                </td>
                <td>
                    <MatButton Class="button-danger" Unelevated="true" OnClick="() => OpenDeleteDialog(context)">Удалить сектор</MatButton>
                </td>
            </AuthorizeView>
        </MatTableRow>
    </MatTable>
}

<MatDialog @bind-IsOpen="@IsDeleteDialogOpened">
    <MatDialogTitle>Удаление сектора</MatDialogTitle>
    <MatDialogContent>
        <MatBody1>Вы действительно хотите удалить данный сектор?</MatBody1>
        <MatBody2>Название: @SelectedItem?.Title</MatBody2>
        <MatBody2>Описание: @SelectedItem?.Description</MatBody2>
        <MatBody1 Class="text-danger">
            ВНИМАНИЕ! Данное действие приведёт к удалению всех связанных с сектором данных!
        </MatBody1>
    </MatDialogContent>
    <MatDialogActions>
        <MatButton OnClick="() => IsDeleteDialogOpened = false">Нет</MatButton>
        <MatButton Class="button-danger" Unelevated="true" OnClick="DeleteSector">Да, удалить</MatButton>
    </MatDialogActions>
</MatDialog>

<MatDialog @bind-IsOpen="@IsCreateDialogOpened">
    <MatDialogTitle>Добавление сектора</MatDialogTitle>
    <MatDialogContent>
        <p>
            <MatTextField @bind-Value="@CreateCommand.Title" Label="Название"/>
        </p>
        <p>
            <MatTextField @bind-Value="@CreateCommand.Description" Label="Описание" TextArea="true" FullWidth="true" rows="6"/>
        </p>
    </MatDialogContent>
    <MatDialogActions>
        <MatButton OnClick="() => IsCreateDialogOpened = false">Отменить</MatButton>
        <MatButton Unelevated="true" OnClick="CreateSector">Добавить</MatButton>
    </MatDialogActions>
</MatDialog>

<MatDialog @bind-IsOpen="@IsEditDialogOpened">
    <MatDialogTitle>Изменение сектора</MatDialogTitle>
    <MatDialogContent>
        <p>
            <MatTextField @bind-Value="@EditTitle" Label="Название"/>
        </p>
        <p>
            <MatTextField @bind-Value="@EditDescription" Label="Описание" TextArea="true" FullWidth="true" rows="6"/>
        </p>
    </MatDialogContent>
    <MatDialogActions>
        <MatButton OnClick="() => IsEditDialogOpened = false">Отменить</MatButton>
        <MatButton Unelevated="true" OnClick="EditSector">Изменить</MatButton>
    </MatDialogActions>
</MatDialog>

@code {
    private Sector[] _sectors;

    public bool IsDeleteDialogOpened { get; set; }
    public Sector SelectedItem { get; set; }

    public bool IsCreateDialogOpened { get; set; }
    public CreateSectorCommand CreateCommand { get; set; } = new CreateSectorCommand();

    public bool IsEditDialogOpened { get; set; }
    public string EditTitle { get; set; }
    public string EditDescription { get; set; }

    protected override async Task OnInitializedAsync()
    {
        _sectors = await Mediator.Send(new GetAllSectorsQuery());
    }

    public void OpenEditDialog(Sector sector)
    {
        IsEditDialogOpened = true;
        SelectedItem = sector;
        EditTitle = sector.Title;
        EditDescription = sector.Description;
    }

    public async Task EditSector()
    {
        try
        {
            await Mediator.Send(new UpdateSectorCommand
            {
                SectorId = SelectedItem.Id,
                Title = EditTitle,
                Description = EditDescription
            });
            Toaster.Add("Информация обновлена", MatToastType.Success, "Изменение");
            _sectors = await Mediator.Send(new GetAllSectorsQuery());
            IsEditDialogOpened = false;
            SelectedItem = null;
            EditDescription = string.Empty;
            EditTitle = string.Empty;
        }
        catch(Exception e)
        {
            Toaster.Add(e.Message, MatToastType.Danger, "Изменение");
        }
    }

    public void OpenDeleteDialog(Sector sector)
    {
        IsDeleteDialogOpened = true;
        SelectedItem = sector;
    }

    public async Task DeleteSector()
    {
        const string message = "Сектор успешно удалён!";
        const string title = "Удаление сектора";

        try
        {
            await Mediator.Send(new DeleteSectorCommand
            {
                SectorId = SelectedItem.Id
            });
            Toaster.Add(message, MatToastType.Success, title);
            _sectors = await Mediator.Send(new GetAllSectorsQuery());
            IsDeleteDialogOpened = false;
            SelectedItem = null;
        }
        catch(Exception e)
        {
            Toaster.Add(e.Message, MatToastType.Danger, title);
        }
    }

    public async Task CreateSector()
    {
        try
        {
            await Mediator.Send(CreateCommand);
            Toaster.Add("Сектор успешно добавлен!", MatToastType.Success, "Добавление");
            _sectors = await Mediator.Send(new GetAllSectorsQuery());
            IsCreateDialogOpened = false;

            CreateCommand = new CreateSectorCommand();
        }
        catch(Exception e)
        {
            Toaster.Add(e.Message, MatToastType.Danger, "Ошибка");
        }
    }

}